Repository nest/nest-simulator, pull requests merged in 2018-10, with the labels that each got.

#1018 Make test_refractory.py run with make installcheck
  pynest/nest/tests/test_refractory.py
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#1035 Feature/exceptions
  pynest/nest/__init__.py
  pynest/pynestkernel.pyx
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1039 Make the check for copyright headers and unused Names part of the CI run
  CMakeLists.txt
  extras/check_copyright_headers.py
  extras/check_unused_names.py
  extras/static_code_analysis.sh
  testsuite/do_tests.sh.in
  testsuite/regressiontests/issue-779-1016.py
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1059 Fix issues in siegert_neuron
  models/siegert_neuron.cpp
  models/siegert_neuron.h
  pynest/nest/tests/test_siegert_neuron.py
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1021 Make lid to gid conversion (and vice versa) in the VPManager more consistent
  nestkernel/vp_manager_impl.h
Labels: C: Kernel, I: Behavior changes, P: PR Created, S: Low, T: Maintenance
