Repository nest/nest-simulator, pull requests merged in 2018-05, with the labels that each got.

#950 Fix typo for Hodgkin-Huxley model
  doc/quickref.html
  extras/userdoc/md/documentation/quickref.md
  models/hh_cond_exp_traub.h
  models/hh_psc_alpha.h
  models/hh_psc_alpha_gap.h
  pynest/examples/hh_psc_alpha.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#947 Remove assertion that argv[0] is a non-empty string in slistartup
  sli/slistartup.cc
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: High, T: Bug

#953 Update help generation for MyModule and fix Py27-unicode
  cmake/ProcessOptions.cmake
  doc/CMakeLists.txt
  examples/MyModule/CMakeLists.txt
  extras/help_generator/writers.py
  extras/nest-config.in
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Bug

#956 Fix #954: Avoid the use of unrelated typenames to distinguish template classes
  nestkernel/event.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#944 Better documentation of hh_cond_exp_traub and Brette-2007-compatible refractory time
  doc/quickref.html
  models/hh_cond_exp_traub.cpp
  models/hh_cond_exp_traub.h
  models/hh_psc_alpha.h
  models/hh_psc_alpha_gap.h
  testsuite/unittests/test_hh_cond_exp_traub.sli
Labels: C: Model, I: Behavior changes, P: PR Created, S: High, T: Bug
