Repository nest/nest-simulator, pull requests merged in 2018-03, with the labels that each got.

#884 Updated to VERA++ 1.3.0 in Travis and changed files to comply with style checks
  .travis.yml
  build.sh
  models/diffusion_connection.h
  models/iaf_psc_alpha_multisynapse.cpp
  models/music_cont_out_proxy.cpp
  models/music_cont_out_proxy.h
  models/rate_connection_instantaneous.h
  models/rate_neuron_ipn.h
  models/rate_neuron_ipn_impl.h
  models/rate_neuron_opn.h
  models/rate_neuron_opn_impl.h
  models/rate_transformer_node.h
  models/rate_transformer_node_impl.h
  models/siegert_neuron.cpp
  models/siegert_neuron.h
  nestkernel/kernel_manager.h
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#872 Remove strong dependency on matplotlib
  pynest/nest/tests/test_sp/test_growth_curves.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#857 Improve handling of output vars from FindXXX.cmake
  cmake/ConfigureSummary.cmake
  cmake/FindLTDL.cmake
  cmake/FindLibNeurosim.cmake
  cmake/FindMusic.cmake
  cmake/FindReadline.cmake
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#885 Reinstating code snippets in the Topology User Manual
  topology/doc/Topology_UserManual.pdf
  topology/doc/Topology_UserManual.tex
  topology/doc/user_manual_figures/conn1.png
  topology/doc/user_manual_figures/conn2.png
  topology/doc/user_manual_figures/conn3.png
  topology/doc/user_manual_figures/conn4.png
  topology/doc/user_manual_figures/conn5.png
  topology/doc/user_manual_figures/conn6.png
  topology/doc/user_manual_figures/conn_3d.png
  topology/doc/user_manual_figures/layer1.png
  topology/doc/user_manual_figures/layer2.png
  topology/doc/user_manual_figures/layer3.png
  topology/doc/user_manual_figures/layer3a.png
  topology/doc/user_manual_figures/layer4.png
  topology/doc/user_manual_figures/layer4_3d.png
  topology/doc/user_manual_figures/player.png
  topology/doc/user_manual_figures/vislayer.png
  topology/doc/user_manual_scripts/connections.py
  topology/doc/user_manual_scripts/layers.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#845 Allow rectangular and box masks to be rotated
  topology/mask.h
  topology/mask_impl.h
  topology/pynest/hl_api.py
  topology/pynest/tests/test_rotated_rect_mask.py
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Enhancement

#840 Fix handling of PyNEST and SLI commandline arguments
  pynest/nest/__init__.py
  pynest/nest/tests/test_sp/test_growth_curves.py
  pynest/pynestkernel.pyx
  sli/slistartup.cc
Labels: C: Kernel, C: PyNEST, I: Behavior changes, P: PR Created, S: High, T: Bug

#900 Fix Python3 print problem in some tests.
  pynest/nest/tests/test_sp/mpitest_issue_578_sp.py
  pynest/nest/tests/test_sp/test_all.py
  pynest/nest/tests/test_sp/test_disconnect.py
  pynest/nest/tests/test_sp/test_get_sp_status.py
  pynest/nest/tests/test_sp/test_growth_curves.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Critical, T: Bug

#888 Issue error message when attempting to set an invalid resolution
  nestkernel/simulation_manager.cpp
  testsuite/regressiontests/issue-888.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#903 Support linking against topology when building extension modules
  CMakeLists.txt
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#902 Made path construction os-independent.
  pynest/nest/tests/test_use_gid_in_filename.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#905 Bump version requirement for CMake to support all features, we actually use
  CMakeLists.txt
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#898 Make sure that Run and Cleanup are called after Prepare
  nestkernel/simulation_manager.cpp
  nestkernel/simulation_manager.h
  testsuite/regressiontests/issue-659.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#846 Fixes for the gif multisynapse and quantal_stp model
  models/aeif_cond_alpha_multisynapse.cpp
  models/aeif_cond_alpha_multisynapse.h
  models/aeif_cond_beta_multisynapse.cpp
  models/aeif_cond_beta_multisynapse.h
  models/gif_cond_exp_multisynapse.cpp
  models/gif_cond_exp_multisynapse.h
  models/quantal_stp_connection.h
Labels: C: Model, I: Behavior changes, P: PR Created, S: High, T: Bug

#891 Updating import instructions for scipy, sklearn - issue #848
  extras/userdoc/md/documentation/part-1-neurons-and-simple-neural-networks.md
  pynest/examples/CampbellSiegert.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#671 Adding inhomogeneous poisson generator model
  models/CMakeLists.txt
  models/inhomogeneous_poisson_generator.cpp
  models/inhomogeneous_poisson_generator.h
  models/modelsmodule.cpp
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  testsuite/unittests/test_inhomogeneous_poisson_generator.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#906 Remove check target
  CMakeLists.txt
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#895 New neuronal population model gif_pop_psc_exp
  models/CMakeLists.txt
  models/gif_pop_psc_exp.cpp
  models/gif_pop_psc_exp.h
  models/gif_psc_exp.h
  models/modelsmodule.cpp
  models/pp_pop_psc_delta.h
  pynest/examples/gif_pop_psc_exp.py
  testsuite/regressiontests/issue-77.sli
  testsuite/unittests/test_gif_pop_psc_exp.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Enhancement

#897 Update NEST Homebrew installation instructions to changes in Homebrew…
  extras/userdoc/md/documentation/installation.md
Labels: C: Installation, I: No breaking change, P: PR Created, S: High, T: Bug

#812 Record conductance from aeif_cond_beta_multisynapse model
  models/aeif_cond_alpha_multisynapse.cpp
  models/aeif_cond_alpha_multisynapse.h
  models/aeif_cond_beta_multisynapse.cpp
  models/aeif_cond_beta_multisynapse.h
  models/iaf_psc_alpha_multisynapse.cpp
  models/iaf_psc_alpha_multisynapse.h
  models/iaf_psc_exp_multisynapse.cpp
  models/iaf_psc_exp_multisynapse.h
  nestkernel/exceptions.cpp
  nestkernel/exceptions.h
  nestkernel/recordables_map.h
  nestkernel/universal_data_logger.h
  nestkernel/universal_data_logger_impl.h
  pynest/nest/tests/test_siegert_neuron.py
  testsuite/unittests/test_aeif_cond_alpha_multisynapse.sli
  testsuite/unittests/test_aeif_cond_beta_multisynapse.sli
  testsuite/unittests/test_iaf_psc_alpha_multisynapse.sli
  testsuite/unittests/test_iaf_psc_exp_multisynapse.sli
Labels: C: Kernel, I: Internal API, P: PR Created, S: Low, T: Enhancement

#912 Fixed doc in GetDefaults
  pynest/nest/lib/hl_api_models.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#909 Reformat and clean up Name definitions
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  testsuite/do_tests.sh.in
  testsuite/unittests/test_unused_names.py
  topology/topology_names.cpp
  topology/topology_names.h
Labels: C: Infrastructure, I: Internal API, P: PR Created, S: Low, T: Maintenance

#867 Add pynest version of hpc benchmark
  examples/nest/hpc_benchmark.sli
  pynest/examples/hpc_benchmark.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#492 Erfc neuron model
  models/CMakeLists.txt
  models/erfc_neuron.cpp
  models/erfc_neuron.h
  models/modelsmodule.cpp
  pynest/nest/tests/test_erfc_neuron.py
  testsuite/regressiontests/issue-77.sli
  testsuite/unittests/test_binary.sli
  testsuite/unittests/test_neurons_handle_multiplicity.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#915 Fix issue 830 - Make fails with UnicodeDecodeError
  extras/help_generator/generate_help.py
  extras/help_generator/writers.py
Labels: C: Installation, I: No breaking change, P: PR Created, S: High, T: Bug

#881 Add balanced random network example using evolution strategies
  pynest/examples/brunel_alpha_evolution_strategies.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Enhancement
