Repository nest/nest-simulator, pull requests merged in 2019-11, with the labels that each got.

#1249 Add getattr/setattr to GIDCollection
  pynest/nest/lib/hl_api_types.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1322 Fix [-Wsign-compare] warnings when Cythonizing pynestkernel.pyx
  pynest/pynestkernel.pyx
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: External bug

#1330 Replace iaf_neuron by iaf_psc_alpha in MUSIC tutorial
  doc/tutorials/music_tutorial/music_tutorial_2.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1335 Moving to Python3.x on OsX
  .travis.yml
  extras/travis_build.sh
Labels: C: Infrastructure, I: Internal API, P: PR Created, S: High, T: Maintenance

#1329 Add security guidelines
  SECURITY.md
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1316 Clean the build process for the NEST Debian packages
  debian/changelog
  debian/control
  debian/rules
  debian/source/format
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1299 Check variables of GSL binomial random generator where they are set
  librandom/gsl_binomial_randomdev.cpp
  librandom/gsl_binomial_randomdev.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1244 Add support for sending secondary events to and from devices
  models/iaf_psc_exp_multisynapse.cpp
  models/step_rate_generator.h
  nestkernel/connection_manager.h
  nestkernel/connection_manager_impl.h
  nestkernel/event_delivery_manager.h
  nestkernel/event_delivery_manager_impl.h
  nestkernel/target_table_devices.h
  nestkernel/target_table_devices_impl.h
  testsuite/cpptests/test_streamers.h
Labels: C: Kernel, I: Internal API, P: PR Created, S: Low, T: Enhancement

#1333 Remove spurious thread_local_connectors update.
  nestkernel/connector_base.h
  nestkernel/connector_model_impl.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1342 Replace Python version by newest available on Travis
  .travis.yml
  extras/travis_build.sh
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Maintenance

#1262 Add new options for installation and improve instructions for NEST
  doc/_static/css/custom.css
  doc/_static/img/docker_link.png
  doc/_static/img/import_nest.png
  doc/_static/img/output_getting_started.png
  doc/conf.py
  doc/contents.rst
  doc/download.rst
  doc/getting_help.rst
  doc/getting_started.rst
  doc/installation/conda_install.rst
  doc/installation/index.rst
  doc/installation/linux_install.rst
  doc/installation/livemedia.rst
  doc/installation/mac_install.rst
  doc/requirements.txt
  doc/troubleshooting.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: High, T: Enhancement

#1312 Fix MUSIC example
  doc/guides/using_nest_with_music.rst
  examples/nest/music/conttest.py
  examples/nest/music/minimalmusicsetup_receivenest.py
  examples/nest/music/minimalmusicsetup_sendnest.py
  examples/nest/music/msgtest.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: High, T: Bug

#1346 Update mailing list email address
  CMakeLists.txt
  debian/copyright
  doc/sli_docs/an-introduction-to-sli.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: High, T: Maintenance

#1340 Fix to allow installation with Python 3.8
  pynest/nest/import_libs.py
  pynest/nest/tests/test_sp/test_growth_curves.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1126 Add Allen Institute GLIF neuron models
  models/CMakeLists.txt
  models/glif_cond.cpp
  models/glif_cond.h
  models/glif_psc.cpp
  models/glif_psc.h
  models/modelsmodule.cpp
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  pynest/examples/glif_cond_neuron.py
  pynest/examples/glif_psc_neuron.py
  pynest/nest/tests/test_all.py
  pynest/nest/tests/test_glif_cond.py
  pynest/nest/tests/test_glif_psc.py
  testsuite/regressiontests/issue-77.sli
  testsuite/unittests/test_neurons_handle_multiplicity.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Enhancement

#1345 Make multimeter and voltmeter class names lower case
  doc/guides/analog_recording_with_multimeter.rst
  models/modelsmodule.cpp
  models/multimeter.cpp
  models/multimeter.h
  models/pp_pop_psc_delta.cpp
  models/pp_psc_delta.cpp
  nestkernel/recording_device.h
  nestkernel/universal_data_logger.h
  pynest/examples/hpc_benchmark.py
  pynest/examples/multimeter_file.py
  pynest/examples/rate_neuron_dm.py
  pynest/examples/sinusoidal_gamma_generator.py
  pynest/examples/sinusoidal_poisson_generator.py
  pynest/examples/testiaf.py
  pynest/nest/voltage_trace.py
  testsuite/regressiontests/ticket-349.sli
  testsuite/unittests/test_voltmeter_reset.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1139 New templates for pynest examples and api
  doc/contribute/rst_primer.rst
  doc/contribute/templates_styleguides/pynest_api_template.py
  doc/contribute/templates_styleguides/pynest_example_template.py
  doc/doc_checklists/checklist_apis
  doc/doc_checklists/checklist_examples
  doc/doc_checklists/pynest_examples1_template.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1274 Fix pynest api generation for documentation using mock
  .gitignore
  doc/conf.py
  doc/contents.rst
  doc/guides/connection_management.rst
  doc/mock_kernel.py
  doc/ref_material/index.rst
  doc/ref_material/nest.lib.rst
  doc/ref_material/nest.rst
  doc/ref_material/pynest.rst
  doc/ref_material/pynest_apis.rst
  doc/topology/pynest.rst
  pynest/nest/lib/hl_api_connections.py
  pynest/nest/lib/hl_api_exceptions.py
  pynest/nest/lib/hl_api_helper.py
  pynest/nest/lib/hl_api_info.py
  pynest/nest/lib/hl_api_models.py
  pynest/nest/lib/hl_api_nodes.py
  pynest/nest/lib/hl_api_parallel_computing.py
  pynest/nest/lib/hl_api_simulation.py
  pynest/nest/lib/hl_api_subnets.py
  pynest/pynestkernel.pyx
  topology/pynest/hl_api.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance
