Repository nest/nest-simulator, pull requests merged in 2019-04, with the labels that each got.

#1159 Removed outdated plot scripts from examples
  examples/nest/plot_tsodyks_depr_fac.py
  examples/nest/plot_tsodyks_shortterm_bursts.m
  examples/nest/plot_tsodyks_shortterm_bursts.py
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1146 Create masked layer earlier when using topology's convergent connect
  topology/connection_creator_impl.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1161 Fix broken internal links in doc/guides
  doc/guides/connection_management.rst
  doc/guides/random_numbers.rst
  doc/guides/scheduling_and_simulation_flow.rst
  doc/guides/simulations_with_precise_spike_times.rst
  doc/guides/using_nest_with_music.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: High, T: Bug

#1147 Fix MPI synchronization problem in presence of very small layers
  nestkernel/connection_manager.cpp
  topology/topology.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1117 Automatic discovery of sli examples in example runner
  examples/nest/ArtificialSynchrony.sli
  examples/nest/Brette_et_al_2007/coba.sli
  examples/nest/Brette_et_al_2007/cuba.sli
  examples/nest/Brette_et_al_2007/cuba_ps.sli
  examples/nest/Brette_et_al_2007/cuba_stdp.sli
  examples/nest/Brette_et_al_2007/hh_coba.sli
  examples/nest/BrodyHopfield.sli
  examples/nest/Potjans_2014/microcircuit.sli
  examples/nest/balancedneuron-2.sli
  examples/nest/balancedneuron.sli
  examples/nest/brunel-2000.sli
  examples/nest/brunel-2000_newconnect.sli
  examples/nest/brunel-2000_newconnect_dc.sli
  examples/nest/brunel-sli_neuron.sli
  examples/nest/brunel_ps.sli
  examples/nest/correlospinmatrix_detector.sli
  examples/nest/hpc_benchmark.sli
  examples/nest/multimeter.sli
  examples/nest/structural_plasticity_benchmark.sli
  examples/run_examples.sh
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1157 Simplify dynamic import of PyNEST submodules
  pynest/nest/hl_api.py
  pynest/nest/import_libs.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1137 Fix postsynaptic trace edge case
  doc/model_details/test_post_trace.ipynb
  models/clopath_connection.h
  models/stdp_connection.h
  models/stdp_connection_facetshw_hom.h
  models/stdp_connection_hom.h
  models/stdp_dopa_connection.h
  models/stdp_pl_connection_hom.h
  models/stdp_triplet_connection.h
  models/vogels_sprekeler_connection.h
  nestkernel/archiving_node.cpp
  nestkernel/archiving_node.h
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  nestkernel/node.cpp
  nestkernel/node.h
  testsuite/regressiontests/issue-1034.py
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#1166 Add advice against using NEST in threaded processes; addresses #361.
  doc/guides/parallel_computing.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1171 Restore PyNEST functions to top level modules
  doc/model_details/test_post_trace.ipynb
  pynest/examples/CampbellSiegert.py
  pynest/examples/balancedneuron.py
  pynest/examples/brunel_alpha_evolution_strategies.py
  pynest/examples/gif_pop_psc_exp.py
  pynest/examples/hh_phaseplane.py
  pynest/examples/hh_psc_alpha.py
  pynest/examples/hpc_benchmark.py
  pynest/examples/if_curve.py
  pynest/examples/intrinsic_currents_spiking.py
  pynest/examples/intrinsic_currents_subthreshold.py
  pynest/examples/one_neuron.py
  pynest/examples/pulsepacket.py
  pynest/examples/structural_plasticity.py
  pynest/nest/hl_api.py
  pynest/nest/tests/test_clopath_synapse.py
  pynest/nest/tests/test_connect_parameters.py
  pynest/nest/tests/test_current_recording_generators.py
  pynest/nest/tests/test_erfc_neuron.py
  pynest/nest/tests/test_helper_functions.py
  pynest/nest/tests/test_parrot_neuron.py
  pynest/nest/tests/test_parrot_neuron_ps.py
  pynest/nest/tests/test_quantal_stp_synapse.py
  pynest/nest/tests/test_rate_copy_model.py
  pynest/nest/tests/test_rate_instantaneous_and_delayed.py
  pynest/nest/tests/test_rate_neuron.py
  pynest/nest/tests/test_rate_neuron_communication.py
  pynest/nest/tests/test_siegert_neuron.py
  pynest/nest/tests/test_sp/mpitest_issue_578_sp.py
  pynest/nest/tests/test_sp/test_all.py
  pynest/nest/tests/test_sp/test_disconnect.py
  pynest/nest/tests/test_sp/test_disconnect_multiple.py
  pynest/nest/tests/test_sp/test_enable_multithread.py
  pynest/nest/tests/test_sp/test_growth_curves.py
  pynest/nest/tests/test_sp/test_sp_manager.py
  pynest/nest/tests/test_stdp_multiplicity.py
  pynest/nest/tests/test_stdp_triplet_synapse.py
  pynest/nest/tests/test_step_rate_generator.py
  pynest/nest/tests/test_vogels_sprekeler_synapse.py
  testsuite/regressiontests/issue-1034.py
  topology/examples/conncomp.py
  topology/examples/conncon_sources.py
  topology/examples/ctx_2n.py
  topology/examples/grid_iaf.py
  topology/examples/grid_iaf_irr.py
  topology/examples/hill_tononi_Vp.py
Labels: C: PyNEST, I: External API, P: PR Created, S: High, T: Maintenance

#1172 Add documentation on how to create C++-level unit tests
  testsuite/cpptests/README.md
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1088 Allow compile-time configuration of bit-field sizes in Target class
  CMakeLists.txt
  cmake/ProcessOptions.cmake
  libnestutil/config.h.in
  nestkernel/connection_manager.cpp
  nestkernel/model_manager.cpp
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  nestkernel/nest_types.h
  nestkernel/source.h
  nestkernel/spike_data.h
  nestkernel/syn_id_delay.h
  nestkernel/target.h
  nestkernel/target_data.h
  testsuite/cpptests/test_target_fields.h
  testsuite/regressiontests/ticket-573.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Enhancement

#1165 Add documentation on splitting and repeating simulations, and deprecation warning for ResetNetwork
  doc/guides/index.rst
  doc/guides/running_simulations.rst
  lib/sli/nest-init.sli
  nestkernel/nestmodule.cpp
  pynest/nest/hl_api.py
  pynest/nest/import_libs.py
  pynest/nest/lib/hl_api_connections.py
  pynest/nest/lib/hl_api_helper.py
  pynest/nest/lib/hl_api_simulation.py
Labels: C: Kernel, I: User Interface, P: PR Created, S: Low, T: Maintenance

#1174 Check recorder type_id instead of model name in plotting modules
  pynest/nest/raster_plot.py
  pynest/nest/voltage_trace.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: High, T: Bug

#1163 Add (optional) escape noise in iaf_psc_exp
  models/iaf_psc_exp.cpp
  models/iaf_psc_exp.h
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Enhancement
