Repository nest/nest-simulator, pull requests merged in 2019-12, with the labels that each got.

#1251 Fix GetConnections to correctly get connections where the target is a global receiving device
  nestkernel/connection_manager.cpp
  pynest/nest/tests/test_getconnections.py
Labels: C: Kernel, I: Internal API, P: PR Created, S: High, T: Bug

#1356 Fix rounding issue when setting small resolution
  libnestutil/numerics.cpp
  libnestutil/numerics.h
  nestkernel/simulation_manager.cpp
  testsuite/regressiontests/issue-1305.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1362 Fix show version issue
  cmake/NestVersionInfo.cmake
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1363 Deleting script in profile.d during uninstallation of the NEST .deb package
  debian/nest.postinst
  debian/nest.postrm
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Maintenance
