Repository nest/nest-simulator, pull requests merged in 2019-03, with the labels that each got.

#1144 Add PyNEST function to synchronize MPI processes
  pynest/nest/lib/hl_api_parallel_computing.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1131 Minor updates to pynest tutorial part 2
  doc/tutorials/pynest_tutorial/part_2_populations_of_neurons.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1095 Add Clopath stdp synapse and two supported neuron models
  models/CMakeLists.txt
  models/aeif_psc_delta_clopath.cpp
  models/aeif_psc_delta_clopath.h
  models/clopath_connection.h
  models/hh_psc_alpha_clopath.cpp
  models/hh_psc_alpha_clopath.h
  models/modelsmodule.cpp
  nestkernel/CMakeLists.txt
  nestkernel/archiving_node.h
  nestkernel/clopath_archiving_node.cpp
  nestkernel/clopath_archiving_node.h
  nestkernel/connection_manager.cpp
  nestkernel/connector_model.cpp
  nestkernel/connector_model.h
  nestkernel/histentry.cpp
  nestkernel/histentry.h
  nestkernel/model_manager.cpp
  nestkernel/model_manager.h
  nestkernel/model_manager_impl.h
  nestkernel/nest_names.cpp
  nestkernel/nest_names.h
  nestkernel/node.cpp
  nestkernel/node.h
  pynest/examples/clopath_synapse_small_network.py
  pynest/examples/clopath_synapse_spike_pairing.py
  pynest/nest/tests/test_clopath_synapse.py
  pynest/nest/tests/test_labeled_synapses.py
  pynest/nest/tests/test_refractory.py
  pynest/nest/tests/test_sp/test_disconnect.py
  pynest/nest/tests/test_sp/test_disconnect_multiple.py
  testsuite/regressiontests/ticket-421.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Enhancement

#1145 Use relative path to logo in documentation
  doc/_static/css/custom.css
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#1148 Correcting documentation on current input in precise neurons (fixes #226).
  precise/iaf_psc_alpha_canon.h
  precise/iaf_psc_alpha_presc.h
  precise/iaf_psc_delta_canon.h
  precise/iaf_psc_exp_ps.h
  precise/iaf_psc_exp_ps_lossless.h
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1112 Fix stability of iaf_psc_exp_ps for equal membrane and synaptic time constants
  libnestutil/propagator_stability.h
  precise/iaf_psc_alpha_canon.h
  precise/iaf_psc_alpha_presc.h
  precise/iaf_psc_exp_ps.cpp
  precise/iaf_psc_exp_ps.h
Labels: C: Model, I: Behavior changes, P: PR Created, S: High, T: Bug

#1142 Fixed creation of inhomogeneous poisson generator with parameters
  models/inhomogeneous_poisson_generator.cpp
  testsuite/regressiontests/issue-1140.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Bug

#1103 Throw error if creating too many connections on one thread
  nestkernel/connection_manager.cpp
Labels: C: Kernel, I: No breaking change, P: Blocked, S: High, T: Bug

#1099 Refactor GetConnections to improve performance
  nestkernel/connection_manager.cpp
  nestkernel/connector_base.h
  testsuite/regressiontests/issue-1085.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1149 Fix incorrect flag in ProcessOptions.cmake
  cmake/ProcessOptions.cmake
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: High, T: Bug

#1098 Add new neuron model hh_cond_beta_gap_traub
  models/CMakeLists.txt
  models/hh_cond_beta_gap_traub.cpp
  models/hh_cond_beta_gap_traub.h
  models/modelsmodule.cpp
  pynest/nest/tests/test_refractory.py
  testsuite/regressiontests/ticket-421.sli
  testsuite/unittests/test_hh_cond_beta_gap_traub.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1150 Feature/dynamic import
  pynest/nest/hl_api.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1119 Improve connection performance over threads
  nestkernel/conn_builder.cpp
  nestkernel/conn_builder.h
  nestkernel/connection_manager.cpp
  nestkernel/connection_manager.h
  topology/connection_creator.cpp
  topology/connection_creator.h
  topology/connection_creator_impl.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1118 Connection sorting using Boost's sorting function
  cmake/ProcessOptions.cmake
  libnestutil/block_vector.h
  libnestutil/config.h.in
  libnestutil/iterator_pair.h
  libnestutil/sort.h
  testsuite/cpptests/CMakeLists.txt
  testsuite/cpptests/test_sort.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Enhancement
