Repository nest/nest-simulator, pull requests merged in 2019-02, with the labels that each got.

#1055 Show periodic boundary conditions for masks and kernel
  topology/doc/Topology_UserManual.pdf
  topology/doc/Topology_UserManual.tex
  topology/pynest/hl_api.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1094 Removed old references to resume
  doc/quickref.html
  extras/EditorSupport/vim/syntax/sli.vim
  extras/userdoc/md/documentation/quickref.md
  nestkernel/event_delivery_manager.h
  nestkernel/nest.h
  nestkernel/nestmodule.cpp
  nestkernel/simulation_manager.cpp
  pynest/nest/lib/hl_api_simulation.py
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1115 Enable the use of connections without delay in Topology
  topology/connection_creator.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Bug

#1127 Fix broken PyNEST, remove traces of ResumeSimulation
  pynest/nest/hl_api.py
  pynest/nest/lib/hl_api_simulation.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: Critical, T: Bug

#1120 Make python mpitest run during installcheck
  pynest/nest/tests/test_sp/mpitest_issue_578_sp.py
  pynest/nest/tests/test_sp/test_all.py
  pynest/nest/tests/test_sp/test_mpitests.py
Labels: C: Infrastructure, I: No breaking change, P: PR Created, S: Low, T: Bug

#1056 Implemented step_rate_generator for piecewise constant rate input
  models/CMakeLists.txt
  models/modelsmodule.cpp
  models/step_rate_generator.cpp
  models/step_rate_generator.h
  nestkernel/stimulating_device.h
  pynest/nest/tests/test_refractory.py
  pynest/nest/tests/test_step_rate_generator.py
  testsuite/regressiontests/ticket-737.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: High, T: Enhancement

#1111 Conditional travis builds using build stages
  .travis.yml
  extras/parse_travis_log.py
  extras/travis_build.sh
Labels: C: Infrastructure, I: No breaking change

#1060 Added deprecation warnings and changed format of the warnings
  models/spike_generator.cpp
  models/spike_generator.h
  pynest/nest/lib/hl_api_helper.py
  pynest/nest/lib/hl_api_subnets.py
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1133 Fix code formatting issue introduced by merging #1060
  models/spike_generator.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance
