Repository nest/nest-simulator, pull requests merged in 2020-01, with the labels that each got.

#1367 Ensure number of connections for fixed total number is properly set
  nestkernel/conn_builder.cpp
  testsuite/regressiontests/issue-1366.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1276 Fix threading issue when connecting
  nestkernel/completed_checker.cpp
  nestkernel/completed_checker.h
  nestkernel/conn_builder.cpp
  nestkernel/conn_builder.h
  nestkernel/connection_manager.cpp
  nestkernel/connection_manager.h
  nestkernel/simulation_manager.cpp
  topology/connection_creator.cpp
  topology/connection_creator.h
  topology/connection_creator_impl.h
  topology/topology.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Maintenance

#1383 Fix MyModule by incorporating modelsmodule refactoring from #1069
  examples/MyModule/mymodule.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1397 Small typographical updates to user documentation
  doc/guides/running_simulations.rst
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1385 Remove handling of external POSIX signals sent to NEST.
  nestkernel/nestmodule.cpp
  nestkernel/simulation_manager.cpp
  nestkernel/simulation_manager.h
  sli/CMakeLists.txt
  sli/interpret.cc
  sli/psignal.c
  sli/psignal.h
  sli/sli_io.cc
  sli/slistartup.cc
Labels: C: Interpreter, I: Behavior changes, P: PR Created, S: Low, T: Maintenance

#1250 Add warning about invalid connection descriptors when new connections are created
  nestkernel/connection_manager.cpp
  nestkernel/connection_manager.h
  nestkernel/simulation_manager.cpp
  topology/topology.cpp
Labels: C: Kernel, I: User Interface, P: PR Created, S: Low, T: Enhancement

#1402 Avoid segfault when using a weight recorder with a probabilistic synapse
  nestkernel/connector_base_impl.h
  nestkernel/event.h
  testsuite/regressiontests/issue-1212.sli
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1403 More informative compiler information in CMake summary
  cmake/ConfigureSummary.cmake
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1386 Hike minimum required CMake to 3.12 and add support for OpenMP with Apple Clang
  CMakeLists.txt
  cmake/ProcessOptions.cmake
  nest/CMakeLists.txt
  sli/CMakeLists.txt
Labels: C: Installation, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1399 Improve information given by error messages typically triggered by Connect
  nestkernel/connection.h
  nestkernel/exceptions.cpp
  nestkernel/exceptions.h
  nestkernel/node.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance
