Repository nest/nest-simulator, pull requests merged in 2020-02, with the labels that each got.

#1245 Add support for rate data in MUSIC proxies
  models/CMakeLists.txt
  models/modelsmodule.cpp
  models/music_rate_in_proxy.cpp
  models/music_rate_in_proxy.h
  models/music_rate_out_proxy.cpp
  models/music_rate_out_proxy.h
  nestkernel/CMakeLists.txt
  nestkernel/music_event_handler.cpp
  nestkernel/music_manager.cpp
  nestkernel/music_manager.h
  nestkernel/music_rate_in_handler.cpp
  nestkernel/music_rate_in_handler.h
  testsuite/regressiontests/issue-77.sli
  testsuite/unittests/test_neurons_handle_multiplicity.sli
Labels: C: Model, I: No breaking change, P: PR Created, S: Low, T: Enhancement

#1427 Rename suggest_vp_for_node_id to node_id_to_vp
  libnestutil/dict_util.h
  nestkernel/conn_builder.cpp
  nestkernel/connection_manager.cpp
  nestkernel/model_manager_impl.h
  nestkernel/node_collection.cpp
  nestkernel/node_manager.cpp
  nestkernel/rng_manager.cpp
  nestkernel/source_table.cpp
  nestkernel/vp_manager.h
  nestkernel/vp_manager_impl.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1377 Add missing using directives
  models/rate_neuron_ipn.h
  models/rate_neuron_opn.h
  models/rate_transformer_node.h
  models/siegert_neuron.h
  nestkernel/parameter.h
  topology/mask.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1416 Fix misuse of outdated variable that led to an impossible condition
  nestkernel/event_delivery_manager.cpp
Labels: C: Kernel, I: No breaking change, P: PR Created, S: High, T: Bug

#1428 Use proper delete[] and atomic read in CompletedChecker
  nestkernel/completed_checker.cpp
  nestkernel/completed_checker.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1430 Rename has_source_subsequent_targets -> source_has_more_targets
  nestkernel/connection.h
  nestkernel/connection_manager.h
  nestkernel/connector_base.h
  nestkernel/source_table.cpp
  nestkernel/syn_id_delay.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1438 Only check for contains list if params is not empty
  pynest/nest/lib/hl_api_nodes.py
  pynest/nest/tests/test_NodeCollection.py
Labels: C: PyNEST, I: No breaking change, P: PR Created, S: High, T: Bug

#1422 Refactor/collocate target data
  nestkernel/source_table.cpp
  nestkernel/source_table.h
  nestkernel/source_table_position.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1398 Document purpose of multiplicity-unrolling code in spike delivery
  nestkernel/event_delivery_manager_impl.h
Labels: C: Kernel, I: No breaking change, P: PR Created, S: Low, T: Maintenance

#1419 Corrects documentation of the stdp_dopamine_synapse model
  models/stdp_dopa_connection.h
Labels: C: Documentation, I: No breaking change, P: PR Created, S: Low, T: Enhancement
